{% extends '../components/base.html' %}

{% block title %} PataJob | {{ job.title }}{% endblock %}

{% block content %}
{% load static %}
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{{ job.role }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="{% static 'img/icon/job-list1.png' %}" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{ job.title}}</h4>
                                    </a>
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ job.work_type }}</li>
                                        <li>KES{{ job.minimum_salary }} - KES{{ job.maximum_salary }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p>{{ job.description }}</p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Required Knowledge, Skills, and Abilities</h4>
                                </div>
                               <ul>
                                    <div>
                                        <p class="font-weight-bold">Technical Skills</p>
                                        <ol>
                                            {% for skill in job.technical_skills %}
                                                <li>{{ skill }}</li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                    <div>
                                        <p class="font-weight-bold">Soft Skills</p>
                                        <ol>
                                            {% for skill in job.soft_skills %}
                                                <li>{{ skill }}</li>
                                            {% endfor %}
                                        </ol>

                                    </div>
                                    <div>
                                        <p class="font-weight-bold">Seniority Level</p>
                                        <ol>
                                           <li>{{ job.career_level }}</li>
                                        </ol>
                                    </div>
                               </ul>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Posted date : <span>{{ job.created_at }}</span></li>
                              <li>Job nature : <span>Full time</span></li>
                              <li>Salary :  <span>KES{{ job.maximum_salary }} monthly</span></li>
                          </ul>
                         <div class="apply-btn2">
                             <a href="{% url 'apply_to_job' job.id %}" class="btn">Apply Now</a>
                             <a href="{% url 'match_insight' job.id %}" class="btn mt-20">Check Match</a>
                         </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}